{% extends "base.html" %}
{% block title %}humanoid's reading{% endblock %}
{% block content %}
<section class="content-container bordered-thick">
    <section class="content-section">
        <h2>reading now</h2>
        <ul class="item-list">
            {% for book in current_books %}
            <li class="bordered-light">
                <div class="book-header">
                    <h3>{{ book.title }}</h3>
                    <p>by <i>{{ book.author }}</i></p>
                </div>
                {{ book.content | safe }}
            </li>
            {% endfor %}
        </ul>
    </section>

    <section class="content-section">
        <h2>reading list</h2>
        <details>
            <summary>to read</summary>
            <ul class="item-list">
                {% for book in later_books %}
                <li class="bordered-light">
                    <div class="book-header">
                        <h3>{{ book.title }}</h3>
                        <p>by <i>{{ book.author }}</i></p>
                    </div>
                    {{ book.content | safe }}
                </li>
                {% endfor %}
            </ul>
        </details>
    </section>

    <section class="content-section">
        <h2>read</h2>
        <ul class="item-list">
            {% for book in completed_books %}
            <li class="bordered-light">
                <div class="book-header">
                    <h3>{{ book.title }}</h3>
                    <p>by <i>{{ book.author }}</i></p>
                </div>
                {{ book.content | safe }}
            </li>
            {% endfor %}
        </ul>
    </section>
</section>
{% endblock %}