{% extends "base.html" %}
{% block title %}humanoid's watching{% endblock %}
{% block content %}
<section class="content-container bordered-thick">
    <section class="watching-now">
        <h1>watching now</h1>
        <div class="media-lists">
            <section class="movies">
                <h2>movies</h2>
                <ul class="media-list current-list">
                    {% for movie in current_movies %}
                    <li class="bordered-light">
                        <h3>{{ movie.title }}</h3>
                        <p>{{ movie.year }} • {{ movie.director }}</p>
                        {{ movie.content | safe }}
                    </li>
                    {% endfor %}
                </ul>
            </section>

            <section class="shows">
                <h2>shows</h2>
                <ul class="media-list current-list">
                    {% for show in current_shows %}
                    <li class="bordered-light">
                        <h3>{{ show.title }}</h3>
                        <p>{{ show.year }} • {{ show.creator }}</p>
                        <p class="progress">Season {{ show.current_season }}, Episode {{ show.current_episode }}</p>
                        {{ show.content | safe }}
                    </li>
                    {% endfor %}
                </ul>
            </section>
        </div>
    </section>

    <details>
        <summary>to watch</summary>
        <div class="media-lists">
            <section class="movies">
                <h2>movies</h2>
                <ul class="media-list future-list">
                    {% for movie in future_movies %}
                    <li class="bordered-light">
                        <h3>{{ movie.title }}</h3>
                        <p>{{ movie.year }} • {{ movie.director }}</p>
                        {{ movie.content | safe }}
                    </li>
                    {% endfor %}
                </ul>
            </section>

            <section class="shows">
                <h2>shows</h2>
                <ul class="media-list future-list">
                    {% for show in future_shows %}
                    <li class="bordered-light">
                        <h3>{{ show.title }}</h3>
                        <p>{{ show.year }} • {{ show.creator }}</p>
                        {{ show.content | safe }}
                    </li>
                    {% endfor %}
                </ul>
            </section>
        </div>
    </details>

    <section class="watched">
        <h1>watched</h1>
        <div class="media-lists">
            <section class="movies">
                <h2>movies</h2>
                <ul class="media-list completed-list">
                    {% for movie in watched_movies %}
                    <li class="bordered-light">
                        <h3>{{ movie.title }}</h3>
                        <p>{{ movie.year }} • {{ movie.director }}</p>
                        <time datetime="{{ movie.date_watched }}">watched: {{ movie.date_watched }}</time>
                        {{ movie.content | safe }}
                    </li>
                    {% endfor %}
                </ul>
            </section>

            <section class="shows">
                <h2>shows</h2>
                <ul class="media-list completed-list">
                    {% for show in watched_shows %}
                    <li class="bordered-light">
                        <h3>{{ show.title }}</h3>
                        <p>{{ show.year }} • {{ show.creator }}</p>
                        <time datetime="{{ show.date_finished }}">finished: {{ show.date_finished }}</time>
                        {{ show.content | safe }}
                    </li>
                    {% endfor %}
                </ul>
            </section>
        </div>
    </section>
</section>
{% endblock %}