{% extends "base.html" %}
{% block title %}humanoid's writing{% endblock %}

{% block content %}
<section class="content-container">
    <hr>

    <h2>technical</h2>
    <ul>
        {% for post in technical_posts %}
        <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
            {% if post.date %} <small>({{ post.date }})</small> {% endif %}
        </li>
        {% endfor %}
    </ul>

    <h2>fiction</h2>
    <ul>
        {% for post in fiction_posts %}
        <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
            {% if post.date %} <small>({{ post.date }})</small> {% endif %}
        </li>
        {% endfor %}
    </ul>

    <h2>non-fiction</h2>
    <ul>
        {% for post in nonfiction_posts %}
        <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
            {% if post.date %} <small>({{ post.date }})</small> {% endif %}
        </li>
        {% endfor %}
    </ul>

</section>
{% endblock %}